* {
margin:0;
padding:0;
box-sizing:border-box;
text-decoration:none;
transition: 0.2s ease;
color:#7b7b7b;
margin-left:10px;
margin-right:5px;
list-style:none;
}


#gk {
    color:#ed433e;
}

#hp {
    color:#ff6000;
}



.logo img{
    height:190px;
    margin-left: -40px;
}

.premiumlogo{
    color:#ff6000;
    position:relative;
    right:155px;
    bottom:60px;
    font-weight: bold;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    margin-top:180px;
    margin-left:-30px;

}

.premiumlogo:hover{
    text-decoration: underline;
}

.premiumlogo2{
    color:black;
    position:relative;
    right:155px;
    bottom:60px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    margin-top:180px;
    margin-left:5px;
    
}

.navbar {
    color:#7b7b7b;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    text-decoration: none;
    float:right;
    margin-top:50px;
    margin-left:-90px;

}

.container {
 width:450px;
 height:50px;
 margin-top:-100px;
 margin-left:260px;
 display:flex;
 align-items:center;
 justify-content:center;
 border: 2px solid #919191;
 border-radius: 5px;
 
}

.container:hover{
    border: 2px solid #ff6000;

}

form{
    width:500px;
    height:55px;
    display:flex;

}

form input{
    flex :1;
    border:none;
    width:450px;
    height:40px;
    margin-top:8px;
    color:black;
    align-items:center;
    justify-content:center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}

::placeholder { 
    color: rgb(212, 210, 210);
    opacity: 1; 
  }

form button{
    width:70px;
    height:46px;
    background:gray;
    padding:10px 10px;
    border:gray;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    cursor:pointer;
    margin-top:4.5px;
    margin-right:28.5px;
    border-top-right-radius:3.5px;
    border-bottom-right-radius:3.5px;
}
form button:hover{
    background-color:#ff6000;
}

.search img{
    width:20px;
    margin-top:18px;
    margin-left:30px;
}

.location{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right:5px;
    margin-top:-45px;
    float:right;
}

#loc1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600; 
    color:rgb(63, 62, 62);
    font-size:smaller;
}

#loc2{
    font-family: Arial, Helvetica, sans-serif;
    color:#ff6000;
    font-size:smaller;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border:none;
    margin-left:-70px;
    margin-top:12px;
  }

  .loc-icon img{
   padding-right:3px;
    width:21px;
  }

  .user-icon img{
    padding-right:3px;
     width:24px;
     margin-top:12px;
   }

   #sign{
    border:none;
    height:30px;
    width:92px;
    margin-left:40px;
    margin-top:-55px;
    font-weight: 700;
    color:rgb(63, 63, 63);
    font-size: medium;
   }

   .box1{
    border:2px solid #7b7b7b;
    height:50px;
    width:160px;
    border-radius: 5px;
    margin-left:890px;
    margin-top:-50px;
   }


   #part2{
    font-size:70%;
    margin-top:-85px;
    margin-left:56px;
    color:black;
   }

   .box2{
    border:2px solid #7b7b7b;
    height:50px;
    width:160px;
    border-radius: 5px;
    background-color:#919191;
    margin-left:1060px;
    margin-top:-50px;
   }

   #sepet{
    color:white;
    font-weight: 700;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    margin-left:5px;
    margin-top:15px;
    position:absolute;
   }

   .shoppingcar-icon img {
    margin-top:10px;
   }

   #menu *{
    margin-left:0;
    margin-right:0;
    }

   #menu {
    height: 60px;
    float:none;
    margin:0px auto;
    background: #f5f5f5;
    width: 100%;
    position: relative;

   }

   .buttongroup {
    float:left;
    overflow: hidden;
    width: 11.11149%;
    font-size: 12px;
    margin:0px auto;
    }

    .buttongroup .button1 {
        border: none;
        outline: none;
        color:#7b7b7b;
        font-weight:600;
        padding: 5px 10px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        width: 100%;
        background: #f5f5f5;;
        height: 60px;
        
    }

    .buttongroup:hover .button1 {
        background-color:white;
        color:#ff6000;
    }


    .dropdown-content {
        display: none;
        position: absolute;
        background-color: white;
        width: 95%;
        left: 2.5%;
        right:2.5%;
        z-index: 1;
        margin: 30px 0;
        font-family: Arial, Helvetica, sans-serif;
        
        -moz-border-radius: 10px;
	    -webkit-border-radius: 10px;
	     border-radius: 10px;
    }
    
    
    .buttongroup:hover .dropdown-content {
        display: block;
    }
    
    .column {
        float: left;
        width: 18.5%;
        padding: 5px;
        background-color: white;
        height: auto;
        margin: 10px 0;
    }
    
    
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
    
    
    .column ul,
    .column li{
    list-style: none outside none;
    list-style-type:none; 
    display: block;
    }
    
    .column li{
    position: relative;
    display: block;
    margin: 10px 0;
    }
    
    a:hover{
      color: #ff6000;
    }
    
    .column img{
      width: 100%;
      position: relative;
      float: left;
      margin-top:10px;
      margin-left:10px;
      border-radius:10px;
    }

    .column h3 {
        font-family: Arial, Helvetica, sans-serif;
        color:#ff6000;
        font-weight:bold;
        font-size:larger;
    }

    .column a{
        color:#484848;
        font-weight: bold;
        font-size: small;
    }

    #giyim a{
        color:#484848;
        font-weight:200;
        font-size: small;
    }

    #ev a{
        color:#484848;
        font-weight:200;
        font-size: small;
    }

    #oto a{
        color:#484848;
        font-weight:200;
        font-size: small;
    }

    .tall img{
        position: relative;
        margin-top:10px;
        border-radius:10px;
        display: flex;
        justify-content: center;
      }

      #kid a{
        color:#484848;
        font-weight:200;
        font-size: small;
    }

    #sport a{
        color:#484848;
        font-weight:200;
        font-size: small;
    }

    #makeup a{
        color:#484848;
        font-weight:200;
        font-size: small;
    }

    #clean a{
        color:#484848;
        font-weight:200;
        font-size: small;
    }

    #book a{
        color:#484848;
        font-weight:200;
        font-size: small;
    }

   .home{
    height:500px;
    background: url(https://images.hepsiburada.net/banners/s/0/1920-540/backgroundImage2106_20230824142012.jpeg/format:webp)
    no-repeat;
    background-size: cover;
    background-position:-290px 40px;
    margin-top:-3rem;
    align-items: center;
   }

   .content{
    max-width:100rem;
    margin-left:100px;
    padding-top: 75px;  
}

  
    .content a{
    font-size:0.8rem;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    margin-right:20px;
    padding-right:15px;
    
   }

   .content a:focus{
    position: relative;
    background: #fafafa;
    color: black;
    height: 120px;
    text-align: center;
    width: 250px;
    border-radius: 12px;
    padding: 0.5rem 0.5rem;
   }

   .content a:focus:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    z-index: 1;
    border-style: solid;
    border-color: #fafafa transparent;
    border-width: 20px 20px 0;
    bottom: -20px;
    left: 50%;
    margin-left: -20px;
}

 

   .white-box {
    background-color: white;
    color: black;
    height:350px;
    width:405px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-top:10px;
    margin-left:100px;
    padding-top:45px;
    padding-left:25px;
    box-shadow: 2px 2px 2px #888888;
    align-items: center;
}
    .white-box p{
    font-size: 22px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    color:#484848;
    padding-top:10px;
    padding-right:15px;
    }

    .home-button {
        
            background-color:#ff6000;
            border: none;
            padding: 12px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 13px;
            margin: 14px 14px;
            cursor: pointer;
            border-radius: 24px;
            font-weight:550;
            width:150px;
            height:38px;
    }

  

.empty-box{
    width: 600px;
    height: 350px;
    border: 5px solid white ;
    margin-left:500px;
    margin-top: -350px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #888888;
  }

  .empty-box img{
    width:594px;
    height:342px;
    border-radius: 5px;
    margin-left:-1.8px;
    margin-top: -1px;
  }
  .sale{
    margin-top: 30px;
  }

  .sale .sale-container {
    display:grid;
    grid-template-columns: 220px 220px 220px 220px 220px;
    gap:0.05rem;
    margin-left:50px;
    padding-top:24px;
  }

  .sale h1{
    color:#484848;
    font-size:28px;
    font-weight:700;
    font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
    margin-left:60px;
  }

  .sale .sale-container .sale-box img{
    width:100%;
    object-fit:cover;
    margin-left:-3px;
    margin-top:14px;
  }
  .sale .sale-container .sale-box h4{
    font-weight: 50;
    color:#484848;
    font-size:10.5px;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
  }

  

  .sale .sale-container .sale-box{
    padding: 24px 8px 33px 8px;
    background-color:#fff;
    border:0.01px solid #d4d2d2;
    border-radius:0.5rem;
    height:350px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
  }

  #fullimg img{
    height:350px;
    object-fit:fill;
    border-radius:0.5rem;
    width:100%;
    margin-left: 0.05%;
    margin-right: 0.05%;
  }


  #fullimg {
    padding:0px;
    border:0.01px solid #d4d2d2;
    border-radius:0.5rem;
    height:350px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;
  }

  .add-button{
    background-color:#faede4;
    border:none;
    border-radius:8px;
    color:#ff6000;
    padding: 12px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight:700;
    cursor: pointer;
    display:none;
    font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
  }

  .add-button:active{
    background-color:#d4d2d2;
    color:#888888;
  }
  

  .price{
    font-size:20px;
    color:#ff6000;
    font-weight:750;
    text-align: center;
    font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
   
  }

  .price:hover{
    display:none;
  }

  .price:hover + .add-button {
    display:block;
  }

  .box-bottom {
    margin-left:2px;
    margin-top:8px;
  }

  .sale-container h3{
    text-align: left;
    font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
    font-size:17px;
    font-weight:500;
    color:#484848;
  }

  .sale-container h3 span {
    color:#484848;
    font-weight:600;
  }

  .brands .brand-container {
    display:grid;
    grid-template-columns: 138px 138px 138px 138px 138px 138px 138px 138px ;
    gap:0.05rem;
    margin-left:50px;
    padding-top:24px;
    text-align:center;
  }

  .brand-container img{
    width:90%;
    border:0.5px solid #d4d2d2;
    border-radius: 10%;
  }

  .brands h1{
    font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
    font-weight:700;
    color:#484848;
    font-size:28px;
    margin-left:60px;
  }

  .brands{
    margin-top:60px;
  }
  
 .brand-container p{
  font-size:13px;
  font-weight:600;
  color:#484848;
  font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
 }


  
 .attention .att-container {
  display:grid;
  grid-template-columns: 160px 160px 160px 160px 160px 160px 160px;
  margin-left:50px;
  padding-top:16px;
}

.attention .att-container .att-box{
  padding: 24px 8px 20px 8px;
  background-color:#fff;
  border:0.01px solid #e7e5e5;
  border-radius:0.5rem;
  height:290px;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:space-between;
  margin-left:2px;

}

.attention .att-container .att-box-head img{
  width:126%;
  border-top-left-radius:0.5rem;
  border-top-right-radius:0.5rem;
  object-fit:fill;
  margin-top:-24px;
  margin-left:-18px;
}

.attention h1{
  color:#484848;
  font-size:28px;
  font-weight:700;
  font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
  margin-left:60px;
}

.attention{
  margin-top:60px;
}

.attention .att-container .att-box h4{
  color:#919191;
  font-weight:600;
  font-size:10.5px;
  text-align:left;
  font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
  width: 100%;
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-top:-25px;
  
}

.new-price{
  font-size:12px ;
  font-weight:600; 
  color:rgb(85, 161, 85);
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left:-46px;
  margin-top:-30px;
  margin-bottom:30px;
  font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
 
}

.add-button2{
    background-color:#ff6000;
    border:none;
    border-radius:8px;
    color:white;
    padding: 6px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight:700;
    cursor: pointer;
    font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
    margin-bottom:-10px;
    overflow: hidden; 
    display:none;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-left:-1px;
    margin-top:10px;
    
}

.att-box:hover .add-button2{
  display:block;
  
}
.add-button2:active{
  background-color:rgb(85, 161, 85);
  color:white;
}

.rating{
  align-items: center;
  color:rgba(237, 157, 9, 0.858);
  display: flex;
  font-size: 15px;
  height: 5vh;
  justify-content: center;
  font-style: italic;
  margin-top:-30px;
  margin-left:-40px;
  font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
}

.attention h5{
  color:#484848e0;
  font-size:12px;
  font-weight:500;
  font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
  margin-left:60px;
}

.new-price2{
  font-size:13px ;
  font-weight:600; 
  color:rgba(7, 7, 7, 0.655);
  overflow: hidden; 
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-left:-60px;
  margin-top:-40px;
  margin-bottom:40px;
  font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
}

.bottom-logo img{
  height:160px;
  margin-top:20px;
}

.choice{
  font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
  font-size:12.5px ;
  font-weight:650;
  float:right;
  margin-top:-90px;
  margin-right:40px;
}

.choice a{
  color:#5e5b5b9e;
}

.choice a:hover{
  color:#7b7b7b;
}


.parts {
  display:grid;
  grid-template-columns: 275px 1px 275px 1px 275px 1px 275px;
  gap:0.5rem;
}

.divider{
  border-right:1px solid #65666721;
  height:150px;
  margin-top:30px;
}

.parts h4{
  text-align: center;
  font-size: 15px;
  color:#484848;
  font-weight:700;
  font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
}

.parts img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top:10px;
}

.parts p{
  text-align: center;
  font-size: 13px;
  color:#2b2b2b;
  font-weight:500;
  font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
  padding-top:10px;
}

.parts{
  margin-bottom:50px;
}

hr.solid {
  border-top: 2px solid #65666721;
}

.aboutus{
  width:100%;
  line-height:1.2;
}

.au-body{
  font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
  font-size:10px;
  display:flex;
  justify-content:center;
}

#ch {
  display:none;
}

#ch:checked ~ .article {
display:block;
margin-left:-20px;
}

#ch:checked ~ .seen {
display:none;
}

#ch:checked ~ .view-more {
  display:none;
  }

.article {
  display:none;
}

.seen p,h4{
  color:black;
}

label{
  display:inline-block;
  cursor:pointer;
}

#ch:checked ~ .au-body {
  margin-top:30px;
  }

  #ch:checked ~ .article p,h4 {
    color:black;
    }

  
    .footer .columns{
      display:grid;
      grid-template-columns: 245px 250px 195px 200px 220px;
      gap:0.1rem;
    }

    .columns li{
      font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
      font-size:10.5px;
      font-weight:550;
      padding-top:10px;
      margin-left:-10px;
    }

    .columns li a{
      color:#9b9898;
    }

    .columns h4{
      font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
      font-size:12.5px;
      font-weight:550;
      color:#000000b9;
    }

    .columns img{
      width:16%;
    }

    .icon-part{
      margin-left:-10px;
    }

    .icon-part li{
      padding-bottom:-8px;
    }

    .social-media{
      margin-left:40px;
      margin-top:-285px;
    }

    .social-media li{
      padding-top:23px;
    }

    .social-media li a{
      color:#484848cd;
    }

    .footer{
      margin-top:20px;
    }

    .comm {
      margin-top:10px;
      margin-left:13px;
      border: 0.3px solid #919191;
      border-radius: 2px;
      padding:6px;
      background-color: white;
      font-size:11px;
      font-weight:600;
      color:#7b7b7bd2;
      white-space: nowrap;
    }

    .hr-sect {
      display: flex;
      flex-basis: 100%;
      align-items: center;
      color: rgba(0, 0, 0, 0.35);
      margin: 10px 0px;
      font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
      font-weight:550;
      font-size:15px;
  }
  .hr-sect:before,
  .hr-sect:after {
      content: "";
      flex-grow: 1;
      background: rgba(0, 0, 0, 0.35);
      height: 0.3px;
      font-size: 0px;
      line-height: 0px;
      margin: 0px 8px;
  }

.columns h5{
  font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
  font-weight:300;
  color:rgba(0, 0, 0, 0.785);
  font-size:12px;
  text-align: center;
  margin-top:18px;
}

.columns h2{
  font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
  font-weight:600;
  color:rgba(0, 0, 0, 0.785);
  font-size:20px;
  text-align: center;
}

.wp{
  margin-top:12px;
}

.wp p{
  margin-left:55px;
  margin-top:-25px;
  font-family: -apple-system,BlinkMacSystemFont,Arial,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif!important;
  font-weight:300;
  color:rgba(0, 0, 0, 0.785);
  font-size:13px;
}
  


    



    

   
    
 





    





   
   

  
  

  

 



  





   

   


 
 
  
